html {
  background-color: black;
  color: white;
}

form {
  width: 50%;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input,
button {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  form {
    width: 90%;
  }
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton:hover {
  background-color: #0056b3;
}

.logout-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #d32626;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #fd0303;
}

.go-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #0d422a;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.go-button:hover {
  background-color: #0e633d;
}

/* Estilos para la tabla */
table {
  width: 100%; /* La tabla ocupa el 100% del ancho disponible */
  border-collapse: collapse; /* Combinar bordes de celdas */
}

/* Estilos para las celdas de encabezado */
th {
  background-color: #0a0a0a; /* Color de fondo */
  border: 1px solid #dddddd; /* Borde */
  padding: 8px; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
}

/* Estilos para las celdas de datos */
td {
  border: 1px solid #dddddd; /* Borde */
  padding: 8px; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
}

/* Estilos para filas alternas */
tr:nth-child(even) {
  background-color: #410606; /* Color de fondo para filas pares */
}

a {
  color: #007bff; /* Color del texto */
  text-decoration: none; /* Eliminar subrayado predeterminado */
}

/* Estilo al pasar el mouse sobre el enlace */
a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}
