<body>
  <h1>Loguearse</h1>
  <hr />

  <form method="post" action="/api/session/login">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" />

    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" />

    <button class="boton" type="submit">Loguearse</button>
    <br />
    <span><a href="/register" target="_self">Registrarse</a></span>

  </form>
  <div class="container">
    <div class="centered">
      <span>
        <a href="/api/session/github" target="_self"><button>Entrar con GitHub</button></a>
      </span>
    </div>
  </div>

</body>